.muscle-layer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;

	.muscle-background {
		position: absolute;
		background-image: url(../img/Muscles/Muscle_bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
	}

	.muscle-title {
		position: absolute; 
		background-image: url(../img/Titles/Muscle/MuscleTitle.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 66.66666667%;
		height: 0;
		padding-bottom: 18.697917%;
		top: 5.78125%;
		left: 18.944444%;
		z-index: 5;
		opacity: 0;
		transition: opacity 0.3s;
		&.active {
			opacity: 1;
		}
	}

	.muscle-body {
		position: absolute; 
		background-image: url(../img/Body_Shape/Body.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		$width: 66.66666667%;
		width: $width;
	    height: 0;
	    padding-bottom: $width * (6310/3013);  //width and height of body background
	    top: 20.78125%;
	    left: 16.94444444%;
	    transform-origin: bottom;
	}
}

.left-chest-original {
	position: absolute;
	background-image: url(../img/Muscles/Original/L_Chestmuscle.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(118/720);
    height: 0;
    padding-bottom: percentage(119/720);
    top: 26.510417%;
    left: 32.148148%;
    z-index: 31;

    .active-image {
		background-image: url(../img/Muscles/Original/L_Chestmuscle.png);
		width: 40%;
	    height: 0;
	    padding-bottom: 25%;
	    top: 36%;
	    left: 6%;
	    z-index: 156;
	    top: 21%;
    }
}

.right-chest-original {
	position: absolute;
	background-image: url(../img/Muscles/Original/R_Chestmuscle.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(118/720);
    height: 0;
    padding-bottom: percentage(119/720);
    top: 26.510417%;
    left: 52.896296%;
    z-index: 31;

    .active-image {
		background-image: url(../../dist/img/Muscles/Active/ActiveR_Chestmuscle.png);
		width: 40%;
	    height: 0;
	    padding-bottom: 25%;
	    top: 36%;
	    left: 6%;
	    z-index: 151;
	    transform: rotateY(-180deg);
    }
}

.left-deltoid-original {
	position: absolute;
	background-image: url(../img/Muscles/Original/L_Deltoid.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(58/720);
    height: 0;
    padding-bottom: percentage(79/720);
    top: 28.8125%;
    left: 24.040741%;
    z-index: 31;

    .active-image {
		background-image: url(../../dist/img/Muscles/Active/ActiveL_Deltoid.png);
		width: 40%;
	    height: 0;
	    padding-bottom: 25%;
	    top: 36%;
	    left: 6%;
	    z-index: 151;
    }
}

.right-deltoid-original {
	position: absolute;
	background-image: url(../img/Muscles/Original/R_Deltoid.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(58/720);
    height: 0;
    padding-bottom: percentage(79/720);
    top: 28.8125%;
    left: 69.933333%;
	z-index: 31;

	.active-image {
		background-image: url(../../dist/img/Muscles/Active/ActiveR_Deltoid.png);
		width: 40%;
	    height: 0;
	    padding-bottom: 25%;
	    top: 36%;
	    left: 6%;
	    z-index: 151;
	    transform: rotateY(-180deg);
	}
}

.left-biceps-original {
	position: absolute;
	background-image: url(../img/Muscles/Original/L_Biceps.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(49/720);
    height: 0;
    padding-bottom: percentage(112/720);
    top: 35.0625%;
    left: 18.462963%;
	z-index: 31;

	.active-image {
		background-image: url(../../dist/img/Muscles/Active/ActiveL_Biceps.png);
		width: 40%;
	    height: 0;
	    padding-bottom: 25%;
	    top: 36%;
	    left: 6%;
	    z-index: 151;
	}
}

.right-biceps-original {
	position: absolute;
	background-image: url(../img/Muscles/Original/R_Biceps.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(49/720);
    height: 0;
    padding-bottom: percentage(112/720);
    top: 35.0625%;
    left: 75.574074%;
    z-index: 31;

    .active-image {
		background-image: url(../../dist/img/Muscles/Active/ActiveR_Biceps.png);
		width: 40%;
	    height: 0;
	    padding-bottom: 25%;
	    top: 36%;
	    left: 6%;
	    z-index: 151;
	    transform: rotateY(-180deg);
    }
}

.abdomin-original {
	position: absolute;
	background-image: url(../img/Muscles/Original/Abdomin.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(195/720);
    height: 0;
    padding-bottom: percentage(296/720);
	top: 36.0625%;
	left: 37.203704%;
    z-index: 31;

    .active-image {
		background-image: url(../../dist/img/Muscles/Active/ActiveAbdomin.png);
		width: 40%;
	    height: 0;
	    padding-bottom: 25%;
	    top: 36%;
	    left: 6%;
	    z-index: 151;
    }
}

.left-quadriceps-original {
	position: absolute;
	background-image: url(../img/Muscles/Original/L_Quadriceps.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(96/720);
    height: 0;
    padding-bottom: percentage(327/720);
    top: 57.145833%;
    left: 29.496296%;
    z-index: 31;

    .active-image {
		background-image: url(../img/Muscles/Original/L_Quadriceps.png);
		width: 40%;
	    height: 0;
	    padding-bottom: 25%;
	    top: 36%;
	    left: 6%;
	    z-index: 151;
    }
}

.right-quadriceps-original {
	position: absolute;
	background-image: url(../img/Muscles/Original/R_Quadriceps.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(96/720);
    height: 0;
    padding-bottom: percentage(327/720);
    top: 57.145833%;
    left: 58.503704%;
    z-index: 31;

    .active-image {
    	background-image: url(../../dist/img/Muscles/Active/ActiveR_Quadriceps.png);
		width: 40%;
		height: 0;
		padding-bottom: 25%;
		top: 36%;
		left: 6%;
		z-index: 151;
		transform: rotateY(-180deg);
		top: 29%;
    }
}

.left-calf-original {
	position: absolute;
	background-image: url(../img/Muscles/Original/L_Calfmuscle.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(61/720);
    height: 0;
    padding-bottom: percentage(180/720);
    top: 80.114583%;
    left: 29.407407%;
    z-index: 31;

    .active-image {
		background-image: url(../../dist/img/Muscles/Active/ActiveL_Calfmuscle.png);
		width: 40%;
	    height: 0;
	    padding-bottom: 25%;
	    top: 36%;
	    left: 6%;
	    z-index: 151;
    }
}

.right-calf-original {
	position: absolute;
	background-image: url(../img/Muscles/Original/R_Calfmuscle.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(61/720);
    height: 0;
    padding-bottom: percentage(180/720);
    top: 80.114583%;
    left: 63.055556%;
    z-index: 31;

    .active-image {
    	background-image: url(../../dist/img/Muscles/Active/ActiveR_Calfmuscle.png);
		width: 40%;
	    height: 0;
	    padding-bottom: 25%;
	    top: 36%;
	    left: 6%;
	    z-index: 151;
	    transform: rotateY(-180deg);
    }
}
