.left-chest-active-text,
.left-deltoid-active-text,
.left-biceps-active-text,
.abdomin-active-text,
.left-quadriceps-active-text,
.left-calf-active-text {
	font-size: 1.5rem;
    position: absolute;
    width: 43%;
    height: 0;
    padding-bottom: 25%;
    top: 30%;
    left: 50%;
    z-index: 151;
    font-family: 'Lato', sans-serif;
}

.right-chest-active-text,
.right-deltoid-active-text,
.right-biceps-active-text,
.right-quadriceps-active-text,
.right-calf-active-text {
	font-size: 1.5rem;
	position: absolute;
	width: 43%;
	height: 0;
	padding-bottom: 25%;
	top: 37%;
	left: 42%;
	z-index: 151;
	transform: rotateY(-180deg);
    font-family: 'Lato', sans-serif;
}

.left-chest-active {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../../dist/img/Muscles/Active/ActiveL_Chestmuscle.png);
	width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.right-chest-active {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../../dist/img/Muscles/Active/ActiveR_Chestmuscle.png);
	width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.left-deltoid-active {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../../dist/img/Muscles/Active/ActiveL_Deltoid.png);
	width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;	
}

.right-deltoid-active {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../../dist/img/Muscles/Active/ActiveR_Deltoid.png);
	width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.left-biceps-active {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../../dist/img/Muscles/Active/ActiveL_Biceps.png);
	width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.right-biceps-active {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../../dist/img/Muscles/Active/ActiveR_Biceps.png);
	width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.abdomin-active {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../../dist/img/Muscles/Active/ActiveAbdomin.png);
	width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.left-quadriceps-active {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../../dist/img/Muscles/Active/ActiveL_Quadriceps.png);
	width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.right-quadriceps-active {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../../dist/img/Muscles/Active/ActiveR_Quadriceps.png);
	width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.left-calf-active {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../../dist/img/Muscles/Active/ActiveL_Calfmuscle.png);
	width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.right-calf-active {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../../dist/img/Muscles/Active/ActiveR_Calfmuscle.png);
	width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}