.left-chest-active {
	position: absolute;
	background-image: url(../../dist/img/Muscles/Active/ActiveL_Chestmuscle.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 10.92592593%;
    height: 0;
    padding-bottom: 6.197916667%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.right-chest-active {
	position: absolute;
	background-image: url(../../dist/img/Muscles/Active/ActiveR_Chestmuscle.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 10.92592593%;
    height: 0;
    padding-bottom: 6.197916667%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.left-deltoid-active {
	// position: absolute;
	// background-image: url(../../dist/img/Muscles/Active/ActiveR_Chestmuscle.png);
	// background-repeat: no-repeat;
	// background-size: contain;
	// background-position: center;
	// width: 10.92592593%;
 //    height: 0;
 //    padding-bottom: 6.197916667%;
 //    top: 50%;
    // left: 5%;
    // z-index: 151;	
}

// .right-deltoid-active {
// 	position: absolute;
// 	background-image: url(../../dist/img/Muscles/Active/ActiveR_Deltoid.png);
// 	background-repeat: no-repeat;
// 	background-size: contain;
// 	background-position: center;
// 	width: 5.37037037%;
// 	height: 0;
// 	padding-bottom: 4.114583333%;
//     top: 50%;
//     left: 5%;
//     z-index: 151;
// }

.left-biceps-active {
	position: absolute;
	background-image: url(../../dist/img/Muscles/Active/ActiveL_Biceps.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 4.537037037%;
	height: 0;
	padding-bottom: 5.833333333%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.right-biceps-active {
	position: absolute;
	background-image: url(../../dist/img/Muscles/Active/ActiveR_Biceps.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 4.537037037%;
	height: 0;
	padding-bottom: 5.833333333%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.abdomin-active {
	position: absolute;
	background-image: url(../../dist/img/Muscles/Active/ActiveAbdomin.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 18.05555556%;
	height: 0;
	padding-bottom: 15.41666667%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.left-quadriceps-active {
	position: absolute;
	background-image: url(../../dist/img/Muscles/Active/ActiveL_Quadriceps.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 8.888888889%;
	height: 0;
	padding-bottom: 15.41666667%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.right-quadriceps-active {
	position: absolute;
	background-image: url(../../dist/img/Muscles/Active/ActiveR_Quadriceps.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 8.888888889%;
	height: 0;
	padding-bottom: 15.41666667%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.left-calf-active {
	position: absolute;
	background-image: url(../../dist/img/Muscles/Active/ActiveL_Calfmuscle.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 5.648148148%;
	height: 0;
	padding-bottom: 9.375%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.right-calf-active {
	position: absolute;
	background-image: url(../../dist/img/Muscles/Active/ActiveR_Calfmuscle.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 5.648148148%;
	height: 0;
	padding-bottom: 9.375%;
    top: 50%;
    left: 5%;
    z-index: 151;
}