.organ-layer {
	width: 100%;
	height: 100%;
	// position: relative;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;

	.organ-background {
		position: absolute;
		background-image: url(../img/Organs/Organ_bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
	}

	.organ-title {
		position: absolute; 
		background-image: url(../img/Titles/OrganTitle/OrganTitle.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 66.66666667%;
		height: 0;
		padding-bottom: 18.697917%;
		top: 5.78125%;
		left: 18.944444%;
		z-index: 5;
	}

	.organ-body {
		position: absolute; 
		background-image: url(../img/Body_Shape/Body.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		$width: 66.66666667%;
		width: $width;
	    height: 0;
	    padding-bottom: $width * (6310/3013);  //width and height of body background
	    top: 20.78125%;
	    left: 16.94444444%;	
	}
}

.brain-original {
    position: absolute; 
	background-image: url(../img/Organs/Original/Brain.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(168/720);
    height: 0;
    padding-bottom: percentage(106/720);
    top: 1.083333%;
    left: 38.485185%;
    z-index: 11;
}

.left-lung-original {
    position: absolute; 
	background-image: url(../img/Organs/Original/Lung_L.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(106/720);
    height: 0;
    padding-bottom: percentage(199/720);
    top: 25.989583%;
    left: 33.574074%;
    z-index: 11;
}

.right-lung-original {
    position: absolute; 
	background-image: url(../img/Organs/Original/Lung_R.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(106/720);
    height: 0;
    padding-bottom: percentage(199/720);
    top: 25.989583%;
    left: 51.314815%;
    z-index: 11;
}

.heart-original {
    position: absolute; 
	background-image: url(../img/Organs/Original/Heart.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(97/720);
    height: 0;
    padding-bottom: percentage(90/720);
    top: 31.46875%;
    left: 43.666667%;
    z-index: 11;
}

.liver-original {
	position: absolute; 
	background-image: url(../img/Organs/Original/Liver.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(202/720);
    height: 0;
    padding-bottom: percentage(124/720);
    top: 39.302083%;
    left: 32.444444%;
    z-index: 11;
}

.liver-div {
	position: absolute;
	width: percentage(202/720);
    height: 0;
    padding-bottom: percentage(124/720);
    top: 39.302083%;
    left: 32.444444%;
    z-index: 13;
}


.kidney-original {
	position: absolute; 
	background-image: url(../img/Organs/Original/Kidney.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(39/720);
    height: 0;
    padding-bottom: percentage(64/720);
    top: 43.510417%;
    left: 36.944444%;
    z-index: 12;
}

.kidney-div {
	position: absolute;
	width: percentage(39/720);
    height: 0;
    padding-bottom: percentage(64/720);
    top: 43.510417%;
    left: 36.944444%;
    z-index: 13;
}

.stomach-original {
	position: absolute; 
	background-image: url(../img/Organs/Original/Stomach.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(185/720);
    height: 0;
    padding-bottom: percentage(183/720);
    top: 39.958333%;
    left: 41.907407%;
    z-index: 12;
}

.pancreas-original {
	position: absolute; 
	background-image: url(../img/Organs/Original/Pancreas.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(142/720);
    height: 0;
    padding-bottom: percentage(56/720);
    top: 48.972917%;
    left: 43.725926%;
    z-index: 11;
}

.pancreas-div {
	position: absolute;
	width: percentage(142/720);
    height: 0;
    padding-bottom: percentage(56/720);
    top: 48.972917%;
    left: 43.725926%;
    z-index: 13;
}

.large-intestine-original {
	position: absolute; 
	background-image: url(../img/Organs/Original/LargeIntestine.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(272/720);
    height: 0;
    padding-bottom: percentage(171/720);
    top: 49.602083%;
	left: 31.962963%;
    z-index: 12;
}

.small-intestine-original {
	position: absolute; 
	background-image: url(../img/Organs/Original/SmallIntestine.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(183/720);
    height: 0;
    padding-bottom: percentage(96/720);
    top: 53.614583%;
    left: 38.12963%;
    z-index: 11;
}

.small-intestine-div {
	position: absolute;
	width: percentage(183/720);
    height: 0;
    padding-bottom: percentage(96/720);
    top: 53.614583%;
    left: 38.12963%;
    z-index: 13;
}

















