.brain-active-text,
.left-lung-active-text,
.liver-active-text,
.kidney-active-text,
.pancreas-active-text,
.large-intestine-active-text {
    font-size: 1.5rem;
    position: absolute;
    width: 43%;
    height: 0;
    padding-bottom: 25%;
    top: 30%;
    left: 50%;
    z-index: 151;
    font-family: 'Lato', sans-serif;
}

.right-lung-active-text,
.heart-active-text,
.stomach-active-text,
.small-intestine-active-text {
    font-size: 1.5rem;
    position: absolute;
    width: 43%;
    height: 0;
    padding-bottom: 25%;
    top: 30%;
    left: 42%;
    z-index: 151;
    transform: rotateY(-180deg);
    font-family: 'Lato', sans-serif;
}

.large-intestine-active-text {
    width: 45%;
}

.brain-active {
    position: absolute; 
    background-image: url(../../dist/img/Organs/Active/ActiveBrain.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}


.left-lung-active {
    position: absolute; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../dist/img/Organs/Active/ActiveL_Lung.png);
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.right-lung-active {
    position: absolute; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../dist/img/Organs/Active/ActiveR_Lung.png);
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}


.heart-active {
    position: absolute; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../dist/img/Organs/Active/ActiveHeart.png);
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.liver-active {
    position: absolute; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../dist/img/Organs/Active/ActiveLiver.png);
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.kidney-active {
    position: absolute; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../dist/img/Organs/Active/ActiveKidney.png);
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.stomach-active {
    position: absolute; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../dist/img/Organs/Active/ActiveStomach.png);
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.pancreas-active {
    position: absolute; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../dist/img/Organs/Active/ActivePancreas.png);
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.large-intestine-active {
    position: absolute; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../dist/img/Organs/Active/ActiveLargeIntestine.png);
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.small-intestine-active {
    position: absolute; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../dist/img/Organs/Active/ActiveSmallIntestine.png);
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}