.organ-layer {
	width: 100%;
	height: 100%;
	// position: relative;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;

	.organ-background {
		position: absolute;
		background-image: url(../img/Organs/Organ_bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
	}

	.organ-title {
		position: absolute; 
		background-image: url(../img/Titles/OrganTitle/OrganTitle.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 66.66666667%;
		height: 0;
		padding-bottom: 18.697917%;
		top: 5.78125%;
		left: 18.944444%;
		z-index: 5;
		display: none;
	}

	.organ-body {
		position: absolute; 
		background-image: url(../img/Body_Shape/Body.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		$width: 66.66666667%;
		width: 66.66666667%; //720
	    // height: 78.69791667%; //1511
	    height: 0;
	    padding-bottom: $width * (6310/3013);  //width and height of body background
	    top: 20.78125%;
	    left: 16.94444444%;
	    transform-origin: bottom;
	}
}



.brain-original {
    position: absolute; 
	background-image: url(../img/Organs/Original/Brain.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(168/720);
	height: 0;
    // height: percentage(106/1511);
    padding-bottom: percentage(106/720);
    top: 1.522170748%;
    left: 38.485185%;
    z-index: 11;
    
    .active-image {
    	background-image: url(../img/Organs/Active/ActiveBrain.png);
    	width: 40%;
    	height: 0;
    	padding-bottom: 25%;
    	top: 36%;
    	left: 6%;
    }
}

    

.left-lung-original {
    position: absolute; 
	background-image: url(../img/Organs/Original/Lung_L.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(106/720);
	height: 0;
    // height: percentage(199/1511);
    padding-bottom: percentage(199/720);
    top: percentage(387/1511);
    left: percentage(236/720);
    z-index: 11;

    .active-image {
    	background-image: url(../../dist/img/Organs/Active/ActiveL_Lung.png);
    	width: 40%;
    	height: 0;
    	padding-bottom: 25%;
    	top: 36%;
    	left: 6%;
    	z-index: 151;
    }
}

.right-lung-original {
    position: absolute; 
	background-image: url(../img/Organs/Original/Lung_R.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(106/720);
	height: 0;
    // height: percentage(199/1511);
    padding-bottom: percentage(199/720);
    top: 25.989583%;
    left: 53.33333333%;
    z-index: 11;

    .active-image {
    	background-image: url(../../dist/img/Organs/Active/ActiveR_Lung.png);
    	width: 40%;
    	height: 0;
    	padding-bottom: 25%;
    	top: 36%;
    	left: 6%;
    	z-index: 151;
    	transform: rotateY(-180deg);
    }
}

.heart-original {
    position: absolute; 
	background-image: url(../img/Organs/Original/Heart.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(97/720);
    // height: percentage(90/1511);
    padding-bottom: percentage(90/720);
    top: 31.46875%;
    left: 43.666667%;
    z-index: 11;

    .active-image {
    	background-image: url(../../dist/img/Organs/Active/ActiveHeart.png);
    	width: 40%;
    	height: 0;
    	padding-bottom: 25%;
    	top: 36%;
    	left: 6%;
    	z-index: 151;
    	transform: rotateY(-180deg);
    }
}

.liver-original {
	position: absolute; 
	background-image: url(../img/Organs/Original/Liver.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(202/720);
    // height: percentage(124/1511);
    padding-bottom: percentage(124/720);
    top: 39.302083%;
    left: 32.444444%;
    z-index: 11;

    .active-image {
    	background-image: url(../../dist/img/Organs/Active/ActiveLiver.png);
    	width: 40%;
    	height: 0;
    	padding-bottom: 25%;
    	top: 36%;
    	left: 6%;
    	z-index: 151;
    }
}

.liver-div {
	position: absolute;
	width: percentage(202/720);
    // height: percentage(124/1511);
    padding-bottom: percentage(124/720);
    top: 39.302083%;
    left: 32.444444%;
    z-index: 13;
}


.kidney-original {
	position: absolute; 
	background-image: url(../img/Organs/Original/Kidney.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(39/720);
    // height: percentage(64/1511);
    padding-bottom: percentage(64/720);
    top: 43.510417%;
    left: 36.944444%;
    z-index: 12;

    .active-image {
    	background-image: url(../../dist/img/Organs/Active/ActiveKidney.png);
    	width: 40%;
    	height: 0;
    	padding-bottom: 25%;
    	top: 36%;
    	left: 6%;
    	z-index: 151;
    }
}

.kidney-div {
	position: absolute;
	width: percentage(39/720);
    // height: percentage(64/1511);
    padding-bottom: percentage(64/720);
    top: 43.510417%;
    left: 36.944444%;
    z-index: 13;
}

.stomach-original {
	position: absolute; 
	background-image: url(../img/Organs/Original/Stomach.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(185/720);
    // height: percentage(183/1511);
    padding-bottom: percentage(183/720);
    top: 39.958333%;
    left: 41.907407%;
    z-index: 12;

    .active-image {
    	background-image: url(../../dist/img/Organs/Active/ActiveStomach.png);
    	width: 40%;
    	height: 0;
    	padding-bottom: 25%;
    	top: 36%;
    	left: 6%;
    	z-index: 151;
    	transform: rotateY(-180deg);
    }
}

.pancreas-original {
	position: absolute; 
	background-image: url(../img/Organs/Original/Pancreas.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(142/720);
    // height: percentage(56/1511);
    padding-bottom: percentage(56/720);
    top: 48.972917%;
    left: 43.725926%;
    z-index: 11;

    .active-image {
    	background-image: url(../../dist/img/Organs/Active/ActivePancreas.png);
    	width: 40%;
    	height: 0;
    	padding-bottom: 25%;
    	top: 36%;
    	left: 6%;
    	z-index: 151;
    }
}

.pancreas-div {
	position: absolute;
	width: percentage(142/720);
    // height: percentage(56/1511);
    padding-bottom: percentage(56/720);
    top: 48.972917%;
    left: 43.725926%;
    z-index: 13;
}

.large-intestine-original {
	position: absolute; 
	background-image: url(../img/Organs/Original/LargeIntestine.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(272/720);
    // height: percentage(171/1511);
    padding-bottom: percentage(171/720);
    top: 49.602083%;
	left: 31.962963%;
    z-index: 12;

    .active-image {
    	background-image: url(../../dist/img/Organs/Active/ActiveLargeIntestine.png);
    	width: 40%;
    	height: 0;
    	padding-bottom: 25%;
    	top: 36%;
    	left: 6%;
    	z-index: 151;
    }
}

.small-intestine-original {
	position: absolute; 
	background-image: url(../img/Organs/Original/SmallIntestine.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(183/720);
    // height: percentage(96/1511);
    padding-bottom: percentage(96/720);
    top: 53.614583%;
    left: 38.12963%;
    z-index: 11;

    .active-image {
    	background-image: url(../../dist/img/Organs/Active/ActiveSmallIntestine.png);
    	width: 40%;
    	height: 0;
    	padding-bottom: 25%;
    	top: 36%;
    	left: 6%;
    	z-index: 151;
    	transform: rotateY(-180deg);
    }
}

.small-intestine-div {
	position: absolute;
	width: percentage(183/720);
    // height: percentage(96/1511);
    padding-bottom: percentage(96/720);
    top: 53.614583%;
    left: 38.12963%;
    z-index: 13;
}



















