
.brain-active {
    position: absolute; 
    background-image: url(../../dist/img/Organs/Active/ActiveBrain.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15.55555556%;
    height: 0;
    padding-bottom: 5.520833333%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.left-lung-active {
    position: absolute; 
    background-image: url(../../dist/img/Organs/Active/ActiveL_Lung.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 9.814814815%;
    height: 0;
    padding-bottom: 10.36458333%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.right-lung-active {
    position: absolute; 
    background-image: url(../../dist/img/Organs/Active/ActiveR_Lung.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 9.814814815%;
    height: 0;
    padding-bottom: 10.36458333%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.heart-active {
    position: absolute; 
    background-image: url(../../dist/img/Organs/Active/ActiveHeart.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 8.981481481%;
    height: 0;
    padding-bottom: 4.6875%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.liver-active {
    position: absolute; 
    background-image: url(../../dist/img/Organs/Active/ActiveLiver.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 18.7037037%;
    height: 0;
    padding-bottom: 6.458333333%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.kidney-active {
    position: absolute; 
    background-image: url(../../dist/img/Organs/Active/ActiveKidney.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 3.611111111%;
    height: 0;
    padding-bottom: 3.333333333%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.stomach-active {
    position: absolute; 
    background-image: url(../../dist/img/Organs/Active/ActiveStomach.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 17.12962963%;
    height: 0;
    padding-bottom: 9.53125%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.pancreas-active {
    position: absolute; 
    background-image: url(../../dist/img/Organs/Active/ActivePancreas.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 13.14814815%;
    height: 0;
    padding-bottom: 2.916666667%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.large-intestine-active {
    position: absolute; 
    background-image: url(../../dist/img/Organs/Active/ActiveLargeIntestine.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25.18518519%;
    height: 0;
    padding-bottom: 8.90625%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.small-intestine-active {
    position: absolute; 
    background-image: url(../../dist/img/Organs/Active/ActiveSmallIntestine.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 16.94444444%;
    height: 0;
    padding-bottom: 5%;
    top: 50%;
    left: 5%;
    z-index: 151;
}