.skeleton-layer {
	width: 100%;
	height: 100%;
	// position: relative;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 40;

	.skeleton-background {
		position: absolute;
		background-image: url(../img/Skeleton/Skeleton_bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
	}

	.skeleton-title {
		position: absolute; 
		background-image: url(../img/Titles/BoneTitle/BoneTitle.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 66.66666667%;
		height: 0;
		padding-bottom: 18.697917%;
		top: 5.78125%;
		left: 18.944444%;
		z-index: 5;
	}
	.skeleton-body {
		position: absolute; 
		background-image: url(../img/Body_Shape/Body.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		$width: 66.66666667%;
		width: $width;
	    height: 0;
	    padding-bottom: $width * (6310/3013);  //width and height of body background
	    top: 20.78125%;
	    left: 16.94444444%;
	}

}

.skull-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/Skull.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(256/720);
    height: 0;
    padding-bottom: percentage(287/720);
    top: 0.614583%;
    left: 32.625926%;
    z-index: 1;
}

.spine-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/Spine.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(57/720);
    height: 0;
    padding-bottom: percentage(547/720);
    top: 20.322917%;
    left: 46.385185%;
    z-index: 2;
}

.left-collarbone-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/L_Collarbone.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(135/720);
    height: 0;
    padding-bottom: percentage(27/720);
    top: 26.783333%;
    left: 27.62963%;
    z-index: 2;
}

.right-collarbone-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/R_Collarbone.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(135/720);
    height: 0;
    padding-bottom: percentage(27/720);
    top: 26.783333%;
    left: 55.466667%;
    z-index: 2;
}

.left-humerus-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/L_Humerus.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(91/720);
    height: 0;
    padding-bottom: percentage(212/720);
    top: 28.697917%;
    left: 17.840741%;
    z-index: 1;
}

.right-humerus-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/R_Humerus.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(91/720);
    height: 0;
    padding-bottom: percentage(212/720);
    top: 28.697917%;
    left: 70.037037%;
    z-index: 1;
}

.left-forearm-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/L_Forearm.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(66/720);
    height: 0;
    padding-bottom: percentage(148/720);
    top: 42.53125%;
    left: 12.407407%;
    z-index: 1;
}

.right-forearm-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/R_Forearm.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(66/720);
    height: 0;
    padding-bottom: percentage(148/720);
    top: 42.53125%;
    left: 79.407407%;
    z-index: 1;
}

.left-wrist-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/L_Wristbone.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(65/720);
    height: 0;
    padding-bottom: percentage(32/720);
    top: 52.547917%;
    left: 7.981481%;
    z-index: 1;
}

.right-wrist-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/R_Wristbone.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(65/720);
    height: 0;
    padding-bottom: percentage(32/720);
    top: 52.547917%;
    left: 83.381481%;
    z-index: 1;
}

.left-fingers-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/L_Fingerbones.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(120/720);
    height: 0;
    padding-bottom: percentage(124/720);
    top: 54.297917%;
    left: 2.155556%;
    z-index: 1;
}

.right-fingers-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/R_Fingerbones.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(120/720);
    height: 0;
    padding-bottom: percentage(124/720);
    top: 54.297917%;
    left: 81.155556%;
    z-index: 1;
}

.ribcage-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/Ribcage.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(290/720);
    height: 0;
    padding-bottom: percentage(233/720);
    top: 29.90625%;
    left: 29.974074%;
    z-index: 1;
}

.hipbone-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/Hipbone.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(277/720);
    height: 0;
    padding-bottom: percentage(156/720);
    top: 49.052083%;
    left: 31.492593%;
    z-index: 1;
}

.left-femur-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/L_Femur.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(84/720);
    height: 0;
    padding-bottom: percentage(294/720);
    top: 55.816667%;
    left: 31.12963%;
    z-index: 2;
}

.right-femur-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/R_Femur.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(84/720);
    height: 0;
    padding-bottom: percentage(294/720);
    top: 55.816667%;
    left: 59.12963%;
    z-index: 2;
}

.left-knee-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/L_Kneecap.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(37/720);
    height: 0;
    padding-bottom: percentage(41/720);
    top: 74.447917%;
    left: 32.962963%;
    z-index: 3;
}

.left-knee-div {
    position: absolute; 
	width: percentage(37/720);
    height: 0;
    padding-bottom: percentage(41/720);
    top: 74.447917%;
    left: 32.962963%;
    z-index: 3;
}

.right-knee-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/R_Kneecap.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(37/720);
    height: 0;
    padding-bottom: percentage(41/720);
    top: 74.447917%;
    left: 63.962963%;
    z-index: 3;
}

.right-knee-div {
	position: absolute; 
	width: percentage(37/720);
    height: 0;
    padding-bottom: percentage(41/720);
    top: 74.447917%;
    left: 63.962963%;
    z-index: 3;
}

.left-tibia-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/L_Tibia.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(64/720);
    height: 0;
    padding-bottom: percentage(267/720);
    top: 75.729167%;
    left: 29.725926%;
    z-index: 1;
}

.right-tibia-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/R_Tibia.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(64/720);
    height: 0;
    padding-bottom: percentage(267/720);
    top: 75.729167%;
    left: 62.725926%;
    z-index: 1;
}

.left-ankle-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/L_Anklebone.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(73/720);
    height: 0;
    padding-bottom: percentage(71/720);
    top: 93.183333%;
    left: 28.262963%;
    z-index: 1;
}

.right-ankle-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/R_Anklebone.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(73/720);
    height: 0;
    padding-bottom: percentage(71/720);
    top: 93.183333%;
    left: 63.262963%;
    z-index: 1;
}

.left-foot-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/L_Footbone.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(128/720);
    height: 0;
    padding-bottom: percentage(58/720);
    top: 95.133333%;
    left: 10.333333%;
    z-index: 1;
}

.right-foot-original {
    position: absolute; 
	background-image: url(../img/Skeleton/Original/R_Footbone.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: percentage(128/720);
    height: 0;
    padding-bottom: percentage(58/720);
    top: 95.133333%;
    left: 74.333333%;
    z-index: 1;
}










