.skull-active {
    position: absolute; 
	background-image: url(../../dist/img/Skeleton/Active/ActiveSkull.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 23.7037037%;
    height: 0;
    padding-bottom: 14.94791667%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.spine-active {
    position: absolute; 
	background-image: url(../../dist/img/Skeleton/Active/ActiveSpine.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 23.7037037%;
    height: 0;
    padding-bottom: 14.94791667%;
    top: 50%;
    left: 5%;
    z-index: 151;
}

.left-collarbone-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Collarbone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 12.5%;
    height: 0;
    padding-bottom: 1.40625%;
    top: 50%;
    left: 5%;
}

.right-collarbone-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Collarbone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 12.5%;
    height: 0;
    padding-bottom: 1.40625%;
    top: 50%;
    left: 5%;
}

.left-humerus-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Humerus.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 8.425925926%;
    height: 0;
    padding-bottom: 11.04166667%;
    top: 50%;
    left: 5%;
}

.right-humerus-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Humerus.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 8.425925926%;
    height: 0;
    padding-bottom: 11.04166667%;
    top: 50%;
    left: 5%;
}

.left-forearm-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Forearm.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 6.111111111%;
    height: 0;
    padding-bottom: 7.708333333%;
    top: 50%;
    left: 5%;
}

.right-forearm-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Forearm.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 6.111111111%;
    height: 0;
    padding-bottom: 7.708333333%;
    top: 50%;
    left: 5%;
}

.left-wrist-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Wristbone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 6.018518519%;
    height: 0;
    padding-bottom: 1.666666667%;
    top: 50%;
    left: 5%;
}

.right-wrist-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Wristbone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 6.018518519%;
    height: 0;
    padding-bottom: 1.666666667%;
    top: 50%;
    left: 5%;
}

.left-fingers-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Fingerbones.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 11.11111111%;
    height: 0;
    padding-bottom: 6.458333333%;
    top: 50%;
    left: 5%;
}

.right-fingers-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Fingerbones.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 11.11111111%;
    height: 0;
    padding-bottom: 6.458333333%;
    top: 50%;
    left: 5%;
}

.ribcage-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveRibcage.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 26.85185185%;
    height: 0;
    padding-bottom: 12.13541667%;
    top: 50%;
    left: 5%;
}

.hipbone-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveHipbone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25.64814815%;
    height: 0;
    padding-bottom: 8.125%;
    top: 50%;
    left: 5%;
}

.left-femur-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Femur.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 7.777777778%;
    height: 0;
    padding-bottom: 15.3125%;
    top: 50%;
    left: 5%;
}

.right-femur-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Femur.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 7.777777778%;
    height: 0;
    padding-bottom: 15.3125%;
    top: 50%;
    left: 5%;
}

.left-knee-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Kneecap.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 3.425925926%;
    height: 0;
    padding-bottom: 2.135416667%;
    top: 50%;
    left: 5%;
}

.right-knee-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Kneecap.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 3.425925926%;
    height: 0;
    padding-bottom: 2.135416667%;
    top: 50%;
    left: 5%;
}

.left-tibia-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Tibia.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 5.925925926%;
    height: 0;
    padding-bottom: 13.90625%;
    top: 50%;
    left: 5%;
}

.right-tibia-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Tibia.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 5.925925926%;
    height: 0;
    padding-bottom: 13.90625%;
    top: 50%;
    left: 5%;
}

.left-ankle-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Anklebone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 6.759259259%;
    height: 0;
    padding-bottom: 3.697916667%;
    top: 50%;
    left: 5%;
}

.right-ankle-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Anklebone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 6.759259259%;
    height: 0;
    padding-bottom: 3.697916667%;
    top: 50%;
    left: 5%;
}

.left-foot-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Footbone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 11.85185185%;
    height: 0;
    padding-bottom: 3.020833333%;
    top: 50%;
    left: 5%;
}

.right-foot-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Footbone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 11.85185185%;
    height: 0;
    padding-bottom: 3.020833333%;
    top: 50%;
    left: 5%;
}