.skull-active-text,
.left-collarbone-active-text,
.left-humerus-active-text,
.right-forearm-active-text,
.right-wrist-active-text,
.right-fingers-active-text,
.ribcage-active-text,
.left-femur-active-text,
.left-knee-active-text,
.left-tibia-active-text,
.left-ankle-active-text,
.right-foot-active-text {
    font-size: 1.5rem;
    position: absolute;
    width: 43%;
    height: 0;
    padding-bottom: 25%;
    top: 30%;
    left: 50%;
    z-index: 151;
    font-family: 'Lato', sans-serif;
}

.spine-active-text,
.right-collarbone-active-text,
.right-humerus-active-text,
.left-forearm-active-text,
.left-wrist-active-text,
.left-fingers-active-text,
.hipbone-active-text,
.right-femur-active-text,
.right-knee-active-text,
.right-tibia-active-text,
.right-ankle-active-text,
.left-foot-active-text {
    font-size: 1.5rem;
    position: absolute;
    width: 43%;
    height: 0;
    padding-bottom: 25%;
    top: 30%;
    left: 42%;
    z-index: 151;
    transform: rotateY(-180deg);
    font-family: 'Lato', sans-serif;
}

.left-collarbone-active-text,
.right-collarbone-active-text {
    top: 21%;
}


.skull-active {
    position: absolute; 
	background-image: url(../../dist/img/Skeleton/Active/ActiveSkull.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.spine-active {
    position: absolute; 
	background-image: url(../../dist/img/Skeleton/Active/ActiveSpine.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.left-collarbone-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Collarbone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.right-collarbone-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Collarbone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.left-humerus-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Humerus.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.right-humerus-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Humerus.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.left-forearm-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Forearm.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.right-forearm-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Forearm.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.left-wrist-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Wristbone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.right-wrist-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Wristbone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.left-fingers-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Fingerbones.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.right-fingers-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Fingerbones.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.ribcage-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveRibcage.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.hipbone-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveHipbone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.left-femur-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Femur.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.right-femur-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Femur.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.left-knee-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Kneecap.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.right-knee-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Kneecap.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.left-tibia-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Tibia.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.right-tibia-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Tibia.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.left-ankle-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Anklebone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}

.right-ankle-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Anklebone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.left-foot-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveL_Footbone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
    transform: rotateY(-180deg);
}

.right-foot-active {
    position: absolute; 
    background-image: url(../../dist/img/Skeleton/Active/ActiveR_Footbone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 0;
    padding-bottom: 25%;
    top: 36%;
    left: 6%;
    z-index: 151;
}