
/* Our wrapper */
.wrapper{
  width: 100vw;
  height: 100vh;
  max-height:100vh;
  position: absolute;
  left:50%;
  top:50%;
  transform:translate3d(-50%,-50%,0);
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  // .inner-wrapper {
  //   width: 100vw;
  //   height: 100vh;
  //   position: relative;
  // }
}


/* Our image information */
.bottom,
.middle,
.top,
.horizontal {
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  top:0;
  left:0;
  // pointer-events:none;
  overflow: hidden;
  &>img{
    height:100%;
  }
}

.top{
  width:125px;
}

.scroller{
  width: 150px;
  height: 150px;
  position: absolute;
  // left: 100px;
  left: 50px;
  top: 50%;
  transform: translateX(-50px) translateY(-50%);
  border-radius:50%;
  // background-color: #29A7D1;
  opacity:0.9;
  transition: opacity 0.12s ease-in-out;
  pointer-events:auto;
  cursor: pointer;
  //box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);
  z-index: 200;
}
.scroller-middle{
  margin-top:55px;
  z-index: 200;
}
.scroller-top{
  margin-top:-145px;
  z-index: 200;
}

.scroller-horizontal {
  margin-top:-25px;
  z-index: 200;
  transform: rotate(-90deg);
}


.scroller:hover{
  opacity:1;
}

.scrolling{
  pointer-events:none;
  opacity:1;
  // z-index: 1;
}

.scroller__thumb{
  width:100%;
  height:100%;
  border-radius:50%;
  //padding: 7px;
  transform: rotate(90deg);
}

.thumb-horizontal {
    // width: 17%;
    // height: 10%;
    // border-radius: 50%;
    // padding: 20px;
    // position: relative;
    // z-index: 600;
    // transform: rotate(90deg);
    // background: #2B7892;
    // top: 15%;
    // left: 10%;

    width: 17%;
    height: 0px;
    border-radius: 50%;
    padding: 7%;
    position: absolute;
    z-index: 600;
    transform: rotate(90deg);
    background: #2B7892;
    top: 15%;
    left: 11%;
    margin-top: -7%;
}

.scroller:before,
.scroller:after{
  content:" ";
  display: block;
  width: 7px;
  // height: 9999px;
  height: 100vh;
  position: absolute;
  // left: 50%;
  left: 17%;
  margin-left: -3.5px;
  z-index: 30;
  transition:0.1s;
  box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);

  transform: translateX(50px);
  // &.scroller-horizontal {
  //   height: 54vh;
  // }
}
.scroller:before{
  top:49px;
}
.scroller:after{
  bottom:49px;
}

/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
.scroller-middle>.scroller__thumb{
  //border: 5px solid #29A7D1;
}
.scroller-middle:before,
.scroller-middle:after{
  background: #267893;
}

.scroller-top>.scroller__thumb{
  //border: 5px solid #29A7D1;
}
.scroller-top:before,
.scroller-top:after{
  background: #267893;
}